<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mb-5 mt-3 text-center">
    <h1 th:text="${title}"></h1>
</div>
<div class="container">
    <h2>Please login</h2>
    <form>
        <div class="form-group">
            <label id="err" style="color:red;">Your username or password is incorect.</label>
        </div>
        <div class="form-group">
            <label for="inputUsername">Username:</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter Username">
            <small id="usernameHelp" class="form-text text-muted">Enter your username</small>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter password">
            <small id="passwordHelp" class="form-text text-muted">Enter your password</small>
        </div>
        <button style="background-color: blue" type="submit" id="userlog" class="btn btn-primary">Login</button>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('#err').hide();
        $("#userlog").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "post",
                url: "/api/logUser",
                data: {
                    username: $("#inputUsername").val(),
                    password: $("#inputPassword").val()
                },
                success: function (response) {
                    setTimeout(function () {
                        console.info("success", response);
                    }, 300);
                    window.location.replace('/userManagement');
                },
                error: function (response) {
                    setTimeout(function () {
                        console.info("error", response);
                        $('#err').show();
                    }, 300);
                }
            })
        });
    });
</script>
</body>
</html>